html {
  height: 100%;
}

body {
  background-color: white;
  background-image: linear-gradient(#fff, #eee);
  background-attachment: fixed;
  height: 100%;
}

.book-container-3d {
  position: relative;
  display: inline-block;
  width: 230px;
  margin: 20px;
}

.book-container {
  position: relative;
  display: inline-block;
  width: 225px;
  margin: 20px;
}

.book-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-container-rounded img.book-cover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.book-cover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 6%;
  left: 13%;
  width: 74%;
  text-align: center;
}

.book-download-link {
  transition: .5s ease;
  position: absolute;
  opacity: 0;
  top: 2%;
  right: 10%;
}

.middle .text {
  font-weight: bold;
  margin-bottom: .4em;
}

.middle a.btn {
  margin-bottom: .4em;
}

.book-container:hover img.book-cover,
.book-container-3d:hover img.book-cover,
.book-container-rounded:hover img.book-cover {
  filter: brightness(20%);
}

.my-books img:hover {
  filter: brightness(60%);
}

.book-container:hover .middle,
.book-container-3d:hover .middle,
.book-container-rounded:hover .middle,
.book-container-rounded:hover .book-download-link {
  opacity: 1;
}

nav#footer a {
  color: white;
}

.book-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.navbar-brand img {
  max-height: 30px;
  margin-right: .8em;
}

#footer .navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#footer .navbar-nav>li {
  display: inline-block;
  float: none;
}

#footer a {
  opacity: 0.5;
}

#university_logos a {
  filter: grayscale(1);
  opacity: .8;
}

#university_logos a:hover {
  filter: grayscale(0);
  opacity: 1;
}